.mb-1{
    margin-bottom: 1vh;
}
.mb-2{
    margin-bottom: 2vh;
}
.mb-3{
    margin-bottom: 3vh;
}
.mb-4{
    margin-bottom: 4vh;
}
.mb-5{
    margin-bottom: 5vh;
}
.mb-6{
    margin-bottom: 6vh;
}
.mb-7{
    margin-bottom: 7vh;
}
.mb-8{
    margin-bottom: 8vh;
}
.mb-9{
    margin-bottom: 9vh;
}
.mb-10{
    margin-bottom: 10vh;
}
.mt-1{
    margin-top: 1vh;
}
.mt-2{
    margin-top: 2vh;
}
.mt-3{
    margin-top: 3vh;
}
.mt-4{
    margin-top: 4vh;
}
.mt-5{
    margin-top: 5vh;
}
.mt-6{
    margin-top: 6vh;
}
.mt-7{
    margin-top: 7vh;
}
.mt-8{
    margin-top: 8vh;
}
.mt-9{
    margin-top: 9vh;
}
.mt-10{
    margin-top: 10vh;
}
